@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Mono';
  font-weight: 700;
  color: rgb(93, 103, 103);
}

.cyan {
  background-color: hsl(185, 41%, 84%);
}

.primary-cyan {
  background-color: hsl(172, 67%, 45%);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
